
<div class="layout-container">
  <div class="content">

    <header role="banner">
      {% if logo %}
        <img src="{{ logo }}" alt="{{ site_name }}" class="logo"/>
      {% endif %}
    </header>

    <main role="main">

      {{ page.highlighted }}

      {{ page.content }}
    </main>

  </div>
</div>{# /.layout-container #}
