<div id="hamburger-block" data-menus="block-navigationprincipale-2">
  <div id="hamburger-toggle">
    <a href="#hamburger-menu" class="hamburger hamburger--collapse t-hamburger-button-toggle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </a>
  </div>
  <nav id="hamburger-menu">
    <a href="#" class="hamburger hamburger--collapse is-active e-hamburger-button-close" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </a>
    <ul class="t-hamburger-menu-content"></ul>
  </nav>
</div>
