<div class="socialMedia">

  <a href="https://www.facebook.com/" class="blockButton">
    <svg class="iconSVG i_facebook">
      <use xlink:href="/themes/studio509/images/icons/icons.svg#icon_facebook"></use>
    </svg>
  </a>

  <a href="https://www.instagram.com/" class="blockButton">
    <svg class="iconSVG i_instagram">
      <use xlink:href="/themes/studio509/images/icons/icons.svg#icon_instagram"></use>
    </svg>
  </a>

  <a href="https://twitter.com/" class="blockButton">
    <svg class="iconSVG i_twitter">
      <use xlink:href="/themes/studio509/images/icons/icons.svg#icon_twitter"></use>
    </svg>
  </a>

  <a href="https://www.youtube.com/" class="blockButton">
    <svg class="iconSVG i_youtube">
      <use xlink:href="/themes/studio509/images/icons/icons.svg#icon_youtube"></use>
    </svg>
  </a>

</div>
