/* Variable */
/* Couleur */
/* Couleur : */
/* Couleur : */
/* Couleur : */
/* Couleur : */
/* Couleur : */
/* Couleur : */
/* Fonts */
/* Font01 */
/* Font01 */
/* ------------------------------- Node editor -------------------------------- */
a,
.node__content a {
  text-decoration: none;
}
ul,
.node__content ul {
  margin: 0.5em 0 1em 3em;
  padding: 0;
}
.img-responsive {
  max-width: 100%;
  height: auto!important;
}
h1.page-title {
  color: #222;
}
h2,
.node__content h2 {
  font-size: 1.4em;
}
h3,
.node__content h3 {
  font-size: 1.2em;
}
.node__content h2,
h2.color01,
h3.color01,
span.color01,
.cke_editable h2,
.cke_editable h2.color01,
.cke_editable h3.color01,
.cke_editable span.color01 {
  color: #444;
}
.node__content h3,
h2.color02,
h3.color02,
span.color02,
.cke_editable h3,
.cke_editable h2.color02,
.cke_editable h3.color02,
.cke_editable span.color02 {
  color: #666;
}
